<tr> 
    <td><input form="delete" name="delete_row" th:value={{id}} type="radio"></td>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{year}}</td>
    <td>{{rank}}</td>
    <td>{{genre}}</td>
    <td>{{director_first_name}}</td>
    <td>{{director_last_name}}</td>
</tr>