<tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{year}}</td>
    <td>{{rank}}</td>
    <td>{{genre}}</td>
    <td>{{director_first_name}}</td>
    <td>{{director_last_name}}</td>
    <td><button class="delete_button">Delete</button></td>
</tr>